<h1>Client Info Page</h1>
<h2>Name: <%= @client.name()%></h2>
<h3>Stylist:</h3>
<% if @stylists.any?() %>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href='/stylists/<%= stylist.id()%>'><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
  <p>There are no stylists added yet!</p>
  <% end %>

  <h3>Remove this client from the salon</h3>
  <form action='/clients/<%= @client.id() %>' method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete client</button>
  </form>
  <p><a href="/">Return Home</a></p>
