<h1>Welcome to Curl Up and Dye!</h1>
<h2>Edit client and stylist information here:</h2>

<p><a href="/clients">Add a new client</a></p>
<p><a href="/stylists">Add a new stylist</a></p>

<h3>Here are all the stylists currently working here:</h3>

<% if @stylists.any?() %>
  <p>Click on a stylist to assign them clients</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no stylists working here yet!</p>
  <% end %>

<h3>Here are all the current clients at Curl Up and Dye:</h3>

<% if @clients.any?() %>
  <p>Click on a client to assign them to a stylist</p>

  <ul>
    <% @clients.each do |client| %>
    <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no clients yet!</p>
  <% end %>
